.layerTitle {
  font-size: 14px !important;
}

.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  bottom: -4px;
  margin-right: 5px;
}

.eyeIcon {
  color: #757575;
}
