.list {
  /* min-height: min(500px, 60vh) !important; */
  height: clamp(20vh, 500px, 60vh);
  overflow-y: auto;
}

.classTitle {
  font-size: 14px !important;
}

.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  bottom: -4px;
  margin-right: 5px;
  /* margin-left: 40px; */
}
.activeAccordion .circle {
  /* margin-left: 0; */
}

.eyeIcon {
  color: #757575;
  cursor: pointer;
}
