.list {
  /* min-height: min(500px, 60vh) !important; */
  height: clamp(20vh, 500px, 60vh);
  overflow-y: auto;
}

.classTitle {
  font-size: 14px !important;
  display:contents
}

.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  bottom: -4px;
  margin-right: 5px;
  /* margin-left: 40px; */
}
.activeAccordion .circle {
  /* margin-left: 0; */
}

.eyeIcon {
  color: #757575;
  cursor: pointer;
}

.list::-webkit-scrollbar-track {
  border: 1px solid white;
  padding: 2px 0;
  background-color: rgba(250, 248, 248, 0.3);;
}

.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px grey;
  background-color: #c2c0c0;
  border: 1px solid white;
}
