/* a container - decorative, not required */
.container {
  width: 100%;
  padding: 0 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
/* p - decorative, not required */
.container p {
  margin-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
}

/* container for all of the switch elements 
      - adjust "width" to fit the content accordingly 
  */
.switches_container {
  width: 16rem;
  position: relative;
  display: flex;
  padding: 0;
  position: relative;
  background: silver;
  line-height: 3rem;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches_container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches_container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: black;
}

/* switch highlighters wrapper (sliding left / right) 
      - need wrapper to enable the even margins around the highlight box
  */
.switch_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
  border-radius: 3rem;
  background: #303fbf;
  height: 100%;
  color:black
}

/* switch box labels
      - default setup
      - toggle afterwards based on radio:checked status 
  */
.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

/* slide the switch box from right to left */
.switches_container input:nth-of-type(1):checked ~ .switch_wrapper {
  transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches_container input:nth-of-type(2):checked ~ .switch_wrapper {
  transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches_container
  input:nth-of-type(1):checked
  ~ .switch_wrapper
  .switch
  div:nth-of-type(1) {
  opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches_container
  input:nth-of-type(2):checked
  ~ .switch_wrapper
  .switch
  div:nth-of-type(2) {
  opacity: 1;
}
